:root{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}
.sidebar{
    max-width: 200px;
    min-width: 100px;
    float: left;
    position: sticky;
    height: fit-content;
    top: 0;
    left: 0;
    background-color: #333;
    padding: 0;
    overflow-y: auto;
    border: white solid;
    border-width: 0 1px 1px 0;
    border-radius: 0 0 5px 0;
}
.app{
    width: 100vw;
    height: 100vh;
}